div#background-gray {
    width: 100%;
    height: 100%;
    background-color: gray;
    position: fixed;
    z-index: 999999;
    opacity: 0.8;
    display: none
}

@keyframes move {
    0% {
        right: 0;
        bottom: 500;
    }

    20% {
        right: 80;
        bottom: 0;
    }

    25% {
        right: 105;
        bottom: 5;
    }

    30% {
        right: 110;
        bottom: 10;
    }

    35% {
        right: 115;
        bottom: 15;
    }

    40% {
        right: 120;
        bottom: 20;
    }

    45% {
        right: 125;
        bottom: 25;
    }

    50% {
        right: 130;
        bottom: 30;
    }

    55% {
        right: 135;
        bottom: 25;
    }

    60% {
        right: 140;
        bottom: 20;
    }

    65% {
        right: 145;
        bottom: 15;
    }

    70% {
        right: 150;
        bottom: 10;
    }

    80% {
        right: 155;
        bottom: 5;
    }

    100% {
        right: 160;
        bottom: 0;
    }
}

@keyframes hide {
    from {
        right: 160;
        bottom: 0;
    }

    to {
        right: -1000;
        bottom: 0;
    }
}

div.div_messages {
    width: 400px;
    height: 80px;
    font-size: 17px;
    z-index: 9999999;
    position: fixed;
    background-color: #05a01f;
    border-radius: 15px;
    font-weight: 600;
    line-height: 80px;
    text-align: center;
    color: white;
    bottom: 0;
    right: -1000;
    display: inline-block;
}
div.div_alert {
    width: 400px;
    height: 80px;
    font-size: 17px;
    z-index: 9999999;
    position: fixed;
    background-color: red;
    border-radius: 15px;
    font-weight: 600;
    line-height: 80px;
    text-align: center;
    color: white;
    bottom: 0;
    right: -1000;
    display: inline-block;
}


.move_ {
    animation-name: move;
    animation-duration: 0.8s;
}

.hide_ {
    animation-name: hide;
    animation-duration: 1.5s
}

strong.messages_sussesses {
    color: white
}
