form#form-send {
    opacity: 1;
    z-index: 9999999;
    height: auto;
    background: white;
    position: fixed;
    opacity: 1;
    top: 30%;
    width: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 600px;
    display: none;
}
form#form-report {
    opacity: 1;
    z-index: 9999999;
    height: auto;
    background: white;
    position: fixed;
    opacity: 1;
    top: 30%;
    width: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 600px;
    display: none
}

label#label-form {
    padding: 10px;
    color: black;
    font-weight: 500;
    font-size: 20px
}

a#contact-me {
    color: white
}

a#report-abuse {
    color: white
}

a#a__like {
    color: white
}

p.label-form {
    position: absolute;
}

p#label-cancel {
    right: 0;
    margin-right: 10px
}

.form-form-control {
    padding: 10px;
    width: 95%;
    margin: auto;
}

textarea#form-form-control {
    height: 200px
}

div#button-send {
    float: right;
    margin: 10px
}

input#btn-cancel {
    padding: 10px;
    background-color: red;
    color: white;
    font-weight: 25px;
    border-radius: 5px;
    border: 1px solid red
}

input#btn-send {
    padding: 10px;
    background-color: green;
    color: white;
    font-weight: 25px;
    border-radius: 5px;
    border: 1px solid green
}

input#send-reply{
    padding: 7px;
    width: 70px;
    border: 1px solid red;
    background-color: red;
    color: white;
    font-weight: 500;
}
i.fa-star{
	font-size: 20px;
	margin: 0 4px;
	color: #cac5c5;
}
i.fa-star-rate{
	font-size: 45px;
}
div#rate{
	padding: 10px 0
}
.rate{
	color: red;
}
ul#vertical-scroll{
    overflow-y: hidden; 
    height: 488px;
}
div#map2{
    position: relative; 
    overflow: hidden;
}
div#_map2{
    height: 100%; 
    width: 100%; 
    position: absolute; 
    top: 0px; 
    left: 0px;
    background-color: rgb(229, 227, 223);
}
a#a_like{
    color: white
}
textarea.textarea_rep{
    width: 520px;
    margin-top: -10px
}
p.errors_bottom{
    width: 520px;
    margin-top: -13px;
}