input#image_list{
	display: block;
	margin: 20px 0
}
div.list_detail_photo{
	margin: 0px 6px;
	display: inline-block; 
	width: 100px; 
	height: auto;
	border: 1px solid #d8dde6;
	padding: 10px;
	border-radius: 5px
}
input#edit{
	padding: 10px;
	border: 1px;
	background-color: green;
	color: white;
}
input#imgInp{
	opacity: 0;
	position: absolute;
	z-index: -999
}
img#blah{
	margin-left: 260px
}