strong.messages_sussesses{
	color: green;
}
p.errors_validation{
	color: red;
}
input#btn-login{
	background-color: red;
	font-weight: 900;
	color: white;
}
input#remember_me{
	width: 30px;
	height: 30px;
	float: left;
	margin-left: 95px ;
	margin-bottom:  10px
}
span#remember_me{
	color: black;
	float: left;
	margin:5px 0 0 10px;
}