div#details_orders{
	width: 1000px;
	position: fixed;
    z-index: 99999;
    background: white;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 450px;
    display: none;
}
div#display_gray{
	width: 100%;
	height: 140%;
	background-color: gray;
	position: fixed;
	z-index: 9999;
	opacity: 0.8;
	display: none;
	top: -100
}
div#title{
	width: 100%;
	background-color: red;
	padding: 0 10px;
	height: 50px;
	color: white;
	line-height: 51px;
	font-weight: 600;
	font-size: 18px;
}
div#div_details_orders{
	background-color: white;
	height: 400px;
	padding-top: 20px
}
p#cancel{
	position: absolute;
	display: inline-block;
	right: 0;
	margin-right: 10px 
}
table#tbl_orders{
	border: 1px solid black;
	margin: auto;
	width: 900px;
}