input.color_input{
	color: black;
	font-weight: 500
}
label.form-label{
	display: inline-block;
}
strong.null{
	color: red;
	font-weight: 900;
	font-size: 21px;
    position: absolute;
    margin-left: 5px;
}